<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/promo.jpg');">
  <div class="container container--xxl">
    <div class="text--center">
      <h2 class="title title--xxxl">Sfoglia la guida</h2>
      <div class="container container--no-padding container--lg">
        <div class="space--xs"></div>
        <p class="text--lg">Scopri tutti i segreti della Svizzera con questa guida di viaggio e iscriviti con il tuo indirizzo email per non perdere neanche una novità.</p>
        <div class="space--md"></div>
        <div class="boxpad--xs">
          <a id="track-btn-footer-download" href="{{site.baseurl}}/_assets/pdf/Magazine_Swiss_urban_feeling_2018_i.pdf" class="btn btn--red" download>Sfoglia la guida in PDF</a>
        </div>
        <!-- <div class="space--xxs"></div>
        <div class="boxpad--xs">
          <a id="track-btn-footer-sign-up" href="#sign-up-link" class="btn btn--sm btn--outline btn--outline-white">Iscriviti con la tua email</a>
        </div> -->
      </div>
    </div>
  </div>
</div>